<style>
    .container {
        display: flex;
        align-items: center;
        gap: 40px;
        margin-bottom: 40px;
    }
    .description {
        font-size: 16px;
        margin-bottom: 20px;
    }
    ul {
        margin-bottom: 10px;
    }
    img {
        width: 200px;
        height: auto;
    }
</style>

<div class="container">
    <img src='~/Images/profile.jpg' alt="Profile Photo" title="Seksi cipka spod Konina" style="max-height: 200px;" />
    <h2>Boski Żigolo</h2>
</div>
<div class="description">
    <h3>Opis:</h3>
    <p>Dobrze chłopaki robią, jest dobrze wszystko. Pozdrawiam całą Legnicę i wszystkich dobrych chłopaków.
        Dobrze chłopaki robią, jest dobrze wszystko. Pozdrawiam całą Legnicę i wszystkich dobrych chłopaków.
        Dobrze chłopaki robią, jest dobrze wszystko. Pozdrawiam całą Legnicę i wszystkich dobrych chłopaków.</p>
    <ul>
        <li>Knaga: 30cm</li>
        <li>Biceps: 40cm</li>
        <li>Testosteron: 4x w tygodniu</li>
    </ul>
</div>
